!---------------------------------
! Xft Settings
! --------------------------------
Xft.dpi:	331
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint:   false
Xft.lcdfilter:  lcddefault
!---------------------------------
! Rofi Settings
!---------------------------------
rofi.dpi: 220
